<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container text-center">
    <h1><b>Your password:</b></h1>
    <br>
    <div class="alert alert-primary" role="alert">
        <h2><b> {{ password_t }}</b></h2>
    </div>
    <br>
    <form action="{% url 'home' %}">
        <input type="submit" value="Home" class="btn btn-secondary btn-sm">
    </form>
</div>
